{% extends "base.html" %}

{% block form %}
<div class="row">

    <h1 class="title col-md-12 text-center">
        <span class="iron-man-title">Iron man</span> Suits Gallery
    </h1>

    <div class="col-md-12">
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="image" id="image">
                    <label class="custom-file-label" for="image">Select an image...</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    
</div>
{% endblock %}

{% block gallery %}
    {% if images %}
        <div class="row justify-content-center">
            {% for image in images  %}
                <div class="col-md-4 col-sm-6">
                    <a href="{{ url_for('static', filename='uploads/img/'+image) }}" data-toggle="lightbox" data-gallery="suits-gallery">
                        <img class="w-100 img-fluid" src="{{ url_for('static', filename='uploads/thumbs/'+image) }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
